/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

/* Header Styles */
.header-neo-brutal {
    background-color: #34c759;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 2rem;
}

/* Hero Styles */
.hero-neo-brutal {
    background-image: linear-gradient(to bottom, #34c759, #8bc34a);
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: auto;
}

h1 {
    font-size: 2.5rem;
    color: #fff;
}

button.btn-1 {
    background-color: #34c759;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Features Styles */
.features-neo-brutal {
    background-image: linear-gradient(to bottom, #8bc34a, #34c759);
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

li i {
    font-size: 2rem;
    color: #34c759;
    margin-right: .5rem;
}

span {
    font-weight: bold;
}

/* Footer Styles */
.footer-neo-brutal {
    background-color: #8bc34a;
    padding: 1rem;
    text-align: center;
}
